*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/* BANNER */
.banner {
  position: relative;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  animation: banner 10s infinite;
  animation-direction: alternate;
}
.bannerClientes {
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../images/vistaClientes/BannerClientes.jpeg);
}
.bannerQuienesSomos {
  position: relative;
  width: 100%;
  height: 161vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../images/vistaQuienesSomos/bannerQuienesSomos.jpeg);
}
.bannerServicios {
  position: relative;
  width: 100%;
  height: 111vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../images/vistaQuienesSomos/bannerQuienesSomos.jpeg);
}
@media (max-width: 990px) {
  .banner {
    height: 100vh;
  }
}
@media (max-width: 450px) {
  .banner {
    height: 115vh;
  }
}

@keyframes banner {
  0%,
  30% {
    background-image: url(../../images/banner.jpg);
    opacity: 1;
  }
  31%,
  34% {
    opacity: 0.1;
  }
  35%,
  65% {
    background-image: url(../../images/banner1.jpg);
    opacity: 1;
  }
  66%,
  69% {
    opacity: 0.1;
  }
  70%,
  100% {
    background-image: url(../../images/banner2.jpg);
    opacity: 1;
  }
}
.img__banner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(85, 84, 84, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px rgb(67, 152, 221) solid;

}

.texto__banner {
  width: 100%;
}
@media (max-width: 400px) {
  .texto__banner {
    font-size: medium;
  }
}
.informacion {
  padding: 5px 25px;
  margin: 10px;
  font-size: medium;
  border: 3px solid #e8e8e4;
  border-radius: 20px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.informacion:hover {
  background-color: #dee2e4;

  padding: 5px 15px;
}
.btn__informacion:hover {
  color: rgb(235, 228, 228);
}
.btn__informacion {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
.icon__banner {
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}
.icon__banner:hover {
  color: #caf0f8;
}
.dmdivider {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 400px) {
  .dmdivider {
    width: 100%;
    margin: 0;
  }
}
/* BANNER FIN */
/* MENU */
.imagen_inicio {
  float: left;
  padding: 20px 120px;
}
.imagen {
  width: 15%;
}

.menu1 li {
  position: relative;
  color: #000;
}

.menu1 li a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}
.menu1 li a:hover {
  color: #000;
}

.menu1 li a::before {
  content: "";
  left: 0;
  bottom: 0;
  border: 1px solid #000;
  position: absolute;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 0%;
  background-color: #080808;
}
.menu1 li a:hover:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
@media (max-width: 650px) {
  .imagen {
    width: 150px;
  }
}

/* MENU FIN */

/*Pie de banner*/
.circulo {
  position: relative;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background: #fff;
}
.circulo > div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /*background: orange; */
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*Fin Pie de banner*/
/*=============================================
      CONTENIDO - estilo de inicio -
      =============================================*/

.Wsp {
  font-size: 15px;
}
.navigation-bar {
  display: inline-flex;
  flex: 1 1 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  background: #126c8e;
  color: #eeeaea;
  box-sizing: border-box;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
}
.navigation-bar .navilists {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.navigation-bar a {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-decoration: none;
  text-align: center;
  color: #eeeaea;
  padding: 6px 9px;
  text-transform: capitalize;
  transition: all 0.5s ease-in;
}

.navitem {
  text-decoration: none;
  list-style: none;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .navigation-bar {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .navigation-bar .navilists {
    display: flex;
    justify-content: center;
  }
}
.div-navbar {
  padding-left: 220px;
}
@media (max-width: 990px) {
  .div-navbar {
    padding-left: 10px;
  }
  .div-navbar ul {
    width: 20vw;
  }
}
@media (max-width: 890px) {
  .div-navbar ul {
    width: 17vw;
  }
}
@media (max-width: 750px) {
  .div-navbar ul {
    width: 21vw;
  }
}
@media (max-width: 620px) {
  .div-navbar ul {
    width: 25vw;
  }
}
@media (max-width: 520px) {
  .div-navbar ul {
    width: 29vw;
  }
}
@media (max-width: 450px) {
  .div-navbar ul {
    width: 35vw;
  }
}
@media (max-width: 360px) {
  .div-navbar ul {
    width: 47vw;
  }
}
/* Navigation */
.container_nabar {
  min-width: 9em !important;
  text-align: initial !important;
  padding: 14.5px 0 14.5px 15px !important;
  float: none !important;
  top: 0 !important;
  left: 0 !important;
  width: auto !important;
  position: relative !important;
  height: auto !important;
  max-width: 100% !important;
  margin: 0 !important;
  min-width: 0 !important;
  text-align: center !important;
  background-image: initial !important;
  background-color: #fff !important;
  background-attachment: scroll !important;
  box-shadow: 0 0 10px grey;
}
.fied_nav {
  display: inline;
  margin: 10px;
  list-style: none;
  width: 20%;
  text-align: center;
  font-size: 15px;
}

.menu_navbar {
  display: table;
}
.sub_menu {
  width: 100%;
  display: inline-block;
  float: none;
}
.flex-nav {
  display: table-cell;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.subtitulo {
  color: rgb(14, 16, 88);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 12px;
  position: relative;
}
.subtitulo::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 40%;
  position: absolute;
  background: rgb(19, 28, 72);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.subtitulo:hover:after {
  width: 100%;
  left: 0;
}

.subtitulo:hover {
  color: rgb(14, 16, 88);
}

/*contacto*/
/*=============================================
  CONTENIDO - estilo de inicio -
  =============================================*/

.container-header {
  background: #126c8e;
  color: rgb(228, 223, 223);
  font-size: smaller;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}
.colum1 {
  margin-left: 36%;
  display: block;
  justify-content: flex-end;
  margin-top: 10px;
  top: 25px;
  font-size: 19px;
}
.text-colum1 {
  font-weight: 700;
}
.container-header {
  display: flex;
}
.flex-iconos {
  width: 36%;
  display: inline;
  align-items: center;
  justify-content: center;
}
.flex-iconos button {
  width: 35px;
  height: 35px;
  margin: 0;
  border-radius: 50%;
  background: transparent;
  margin-right: 10px;
}
.flex-iconos button i {
  font-size: 15px;
}
.flex-iconos button.face {
  border: 3px solid rgb(228, 223, 223);
  color: rgb(228, 223, 223);
}
.flex-iconos button.twitt {
  border: 3px solid rgb(228, 223, 223);
  color: rgb(228, 223, 223);
}
.flex-iconos button.linkeid {
  border: 3px solid rgb(228, 223, 223);
  color: rgb(228, 223, 223);
}
.flex-iconos button.whatshap {
  border: 3px solid rgb(228, 223, 223);
  color: rgb(228, 223, 223);
}
.flex-iconos button.wazze {
  border: 3px solid rgb(228, 223, 223);
  color: rgb(228, 223, 223);
}
.flex-iconos button.insta {
  border: 3px solid rgb(228, 223, 223);
  color: rgb(228, 223, 223);
}
.flex-iconos button.message {
  border: 3px solid rgb(228, 223, 223);
  color: rgb(228, 223, 223);
}

/* contacto */

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  margin: 30px 0;
}
.container__contacto {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}
@media (max-width: 900px) {
  .container__contacto {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-form {
    margin: 0px 0;
  }
}

.contact-form .firts-container {
  width: 100%;
}
.contact-form .firts-container .info-container div {
  margin: 24px 0;
}
.contact-form .firts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form .firts-container .info-container div h3 {
  color: #50889d;
  font-size: 28px;

  line-height: 1.2;
  padding-bottom: 10px;
}
.contact-form .firts-container .info-container div p {
  font-size: 16px;
  line-height: 1.1;
  color: rgb(100, 99, 99);
}
.contact-form .firts-container .info-container div:first-of-type h3 {
  max-width: 260px;
  font-weight: 700;
  color: #126c8e;
  font-size: 36px;
}
.contact-form .firts-container .info-container button {
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 50%;
  background: transparent;
  margin-right: 10px;
  display: inline;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.contact-form .firts-container .info-container i {
  font-size: 15px;
}
.contact-form .firts-container .info-container button.face {
  border: 3px solid #126c8e;
  color: #126c8e;
}
.contact-form .firts-container .info-container button.twitt {
  border: 3px solid #126c8e;
  color: #126c8e;
}
.contact-form .firts-container .info-container button.linkeid {
  border: 3px solid #126c8e;
  color: #126c8e;
}
.contact-form .firts-container .info-container button.whatshap {
  border: 3px solid #126c8e;
  color: #126c8e;
}
.contact-form .firts-container .info-container button.wazze {
  border: 3px solid #126c8e;
  color: #126c8e;
}
.contact-form .firts-container .info-container button.insta {
  border: 3px solid #126c8e;
  color: #126c8e;
}
.contact-form .firts-container .info-container button.message {
  border: 3px solid #126c8e;
  color: #126c8e;
}
.contact-form .firts-container .info-container iframe {
  width: 100%;
  height: 300px;
}

/*formulario empresa*/
.contact-form .second-container {
  padding: 30px;
  width: 100%;
  background: 
#6c6f70;
  box-shadow: 0 5px 10px black;
  text-align: center;
  
}

.contact-form .second-container form {
  display: flex;
  flex-direction: column;
}
.contact-form .second-container h3 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}
.contact-form .second-container h2 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.contact-form .second-container hr {
  font-weight: 700;
  opacity: inherit;
  color: orange;
  text-align: center;
  height: 2px;
  width: 35%;
  margin-left: 32% !important;
  margin-right: 32% !important;
}
.contact-form .second-container span {
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 1.1;
  align-items: center;
  vertical-align: top;
}

.contact-form .second-container form .form-group {
  margin-bottom: 10px;
}
.contact-form .second-container form .form-group * {
  min-height: 55px;
  border: 1 solid #e6e6e6;
  padding: 0 20px;
}

.contact-form .second-container form .form-group:first-of-type input {
  width: 60%;
  vertical-align: top;
}
.contact-form .second-container form .form-group input {
  width: 60%;
  font-size: 15px;
  margin-top: -2px;
  margin-left: 20% !important;
  margin-right: 20% !important;
  vertical-align: top;
}
.contact-form .second-container form .form-group input::placeholder,
.contact-form .second-container form .form-group textarea::placeholder {
  color: #999;
}
.contact-form .second-container form .form-group textarea {
  width: 60%;
  min-height: 150px;
  resize: none;
  padding: 10px 20px;
  margin-top: -1px;
  font-size: 15px;
  margin-top: -2px;
  margin-left: 20% !important;
  margin-right: 20% !important;
  vertical-align: top;
}
.contact-form .second-container form input[type="submit"] {
  width: 101%;
  margin: auto;
  height: 50px;
  background-color: #0d4a61;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  position: relative;
  cursor: pointer;
  vertical-align: top;
  margin-bottom: 25px;
  border-radius: 15px;
}
.contact-form .second-container form div {
  color: #f5f5f5;
  margin-bottom: 22px;
  text-align: center;
  font-size: 16px;
  line-height: 15p;
}

.contact-form .second-container form button:hover {
  background-color: #0d4a61;
}

@media screen and (max-width: 700px) {
  .container__contacto {
    width: 100%;
  }
}

/*FOOTER*/
.list-group-horizontal {
  text-align: center;
  text-decoration: none;
  line-height: 3;
  list-style: none;
  padding: 0px;
}

.icono-footer {
  position: relative;
  font-size: 14px;
  border: 2px solid rgb(207, 204, 204);
  border-radius: 50%;
  padding: 5px 9px;
  align-items: center;
  margin: 5px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.icono-footer:hover {
  color: #fff;
}

.text-footer {
  color: white;
}
.ass {
  text-align: right;
  margin: auto;
  padding: 1rem !important;
}

.fels {
  background: #126c8e;
  padding-top: 50px;
  padding-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 1.5rem;
}

.fum {
  color: white;

  text-align: center;
}

/*FIN FOOTER*/
/*Cliente*/
.titulo_customer-ibhunter {
  color: rgb(5, 5, 5);
  font-size: 48px;
  margin-bottom: 50px;
  font-weight: 550;
  position: relative;
}

@media (max-width: 600px) {
  .titulo_customer-ibhunter {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.contenedor-customer-ibhunter {
  position: relative;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-customer-ibhunter a {
  opacity: 0;
  visibility: hidden;
  color: rgba(55, 123, 140, 1);
  border: 3px rgba(55, 123, 140, 1) solid;
  border-radius: 90px;
  padding: 0px 0px;
  position: absolute;

  width: 75%;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.contenedor-customer-ibhunter:hover a {
  opacity: 0.5;
  visibility: visible;
  color: rgba(55, 123, 140, 1);
  text-decoration: none;
}

.img-customer-ibhunter {
  position: relative;
}

.contenedor-customer-ibhunter .img-customer-ibhunter img {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.contenedor-customer-ibhunter:hover .img-customer-ibhunter img {
  visibility: hidden;
  opacity: 0;
}

.btn_ir_customer_ibhunter {
  width: 100%;
}
/*Fin Cliente*/
/*Quienes Somos Acerca de nosotros*/
.btn_info {
  background-color: #013f62;
  color: white !important;
  font-weight: 600;
  transition: all 400ms;
  border-radius: 3rem;
}

.la {
  font-size: 1.75rem;
  color: rgb(8, 11, 51);
  font-weight: bolder;
  position: relative;
}
.la::before {
  content: " ";
  position: absolute;
  bottom: -11px;
  left: 5px;
  border-bottom: 1px solid #2a2a2a;
  width: 18%;
}

.lovv {
  text-align: justify;
}
.colo {
  background-color: #f5f5f5;
}
.loss {
  min-height: 1%;
  max-width: 100%;
  height: 77vh;
  width: 100%;
  background-size: cover;
}
img.loss.d-block {
  left: 15px;
}
img.loss.mx-auto.d-block {
  margin-right: 15px;
}
.gog {
  border: 5px #013f62;
}

.container-header {
  background: #126c8e;
  color: white;
  font-size: smaller;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.container-header {
  display: flex;
}
.list-group-horizontal {
  flex-direction: row;
  text-decoration: none;
  line-height: 3;
  list-style: none;
}

.sub_titulo {
  height: 25%;
}

@media (max-width: 800px) {
  .sub_titulo {
    height: 20%;
  }
  .sub_titulo h3 {
    font-size: 23px;
  }
}
.lop {
  text-align: justify;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.luz {
  font-size: 25px;
  font-weight: bold;
  padding-right: 5px !important;
  padding-left: 5px !important;
  position: relative;
}
.luz::before {
  content: " ";
  position: absolute;
  bottom: -11px;
  left: 5px;
  border-bottom: 1px solid #2a2a2a;
  width: 6%;
}
.lor {
  font-weight: bold;
  text-align: justify;
}
/*FIN Quienes Somos  Acerca de nosotros*/
/*NUESTRO SERVICIOS VISTA INCIO*/
.titulo_cars_ibhunter {
  color: #0c1146;
  font-size: 25px;
  margin-bottom: 50px;
  font-weight: 600;
  position: relative;
}

.titulo_cars_ibhunter::after {
  background-color: #0c1146;
  content: "";
  width: 10%;
  height: 1px;
  position: absolute;
  bottom: 4px;
  left: 0;
  margin: -17px 45%;
}

.contenedor-card-ibhunter {
  margin: 2px;
  padding: 0px;
  height: auto;
  left: 200px;
}

.img-cards-ibhunter {
  width: 100%;

  overflow: hidden;
}

.img-cards-ibhunter img {
  transition: 0.5s ease-in-out;
}

.img-cards-ibhunter img:hover {
  transform: scale(1.5);
}

.contenido-cards-ibhunter {
  padding-top: 50px;
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;

  background-color: #a3c8d1;
}

.contenido-cards-ibhunter a {
  font-size: 12px;
  border-radius: 90px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #0d4a61;
  font-weight: 550;
}

.contenido-cards-ibhunter h4 {
  padding-top: 20px;
  font-size: 19px;

  color: #fff;

  font-weight: 600;
}

.btn-contenido-cards {
  margin: 10px;
}

.contenido-cards-ibhunter1 h4 {
  padding-top: 16px;
  font-size: 19px;

  color: #fff;

  font-weight: 600;
}

.contenido-cards-ibhunter1 {
  padding-top: 49px;
  padding: 1px;
  width: 100%;
  height: auto;
  text-align: center;

  background-color: #a3c8d1;
}

.contenido-cards-ibhunter1 a {
  font-size: 12px;
  border-radius: 90px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #0d4a61;
  font-weight: 550;
}

.row-card-ibhunter {
  margin: 50px;
}
/*headhunting*/
.servicio-formu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  background: #ECF1F1;
}

.tipo-servicio {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}

@media(max-width:900px) {
  .tipo-servicio {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .servicio-formu {
      margin: 0px 0;
  }
}

.servicio-formu .servicio-containers {
  width: 80%;
}

.servicio-formu .servicio-containers .descripcion-servicios div {
  margin: 23px 0;
}

.servicio-formu .servicio-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio-formu .servicio-containers div i {
  color: #BAE1DD;
  font-size: 20px;
}

.servicio-formu .servicio-containers div h3 {
  font-weight: 700;
  color: #1F3468;
  font-size: 45px;
}

.servicio-formu .servicio-containers div hr {
  color: #89EDF4;
  opacity: 1;
  width: 15%;
}

.servicio-formu .servicio-containers div p {
  color: #666E6F;
  font-size: 15px;
}

.servicio-formu .servicio-containers div b {
  font-weight: 800;
  color: #0B2260;
  font-size: 20px;
  line-height: 1%;

}

.servicio-formu .servicio-containers div span {
  font-weight: 600;
  font-size: 19px;
}

.servicio-formu.servicio-formu .servicio-containers div:first-of-type p {
  line-height: 1rem;
  color: black;
  margin-bottom: 15px;
}

.servicio-formu.servicio-formu .servicio-containers div h5 {
  font-size: 15px;
  width: 70%;
}

.servicio-formu .imagen-botones {
  padding: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 25%;
}

.servicio-formu .imagen-botones img {
  height: 100%;
  width: 100%;
  display: block!important ;
  margin-right: auto!important;
  margin-right: auto!important;
}
.servicio-formu .imagen-botones form {
  display: flex;
  flex-direction: column;
}
@media (max-width:800px){
.servicio-containers {
  display: flex;
  flex-direction:column;
}
}
.servicio-formu .imagen-botones form .form-group{
  margin-bottom: 10px;
}
.servicio-formu .imagen-botones form .form-group *{
  min-height: 55px;
border: 1 solid #e6e6e6;
padding: 0 20px;
}
.servicio-formu .imagen-botones form input[type=submit]{

margin: auto;
height: 50px;
background-color:#63908F ;
color: #fff;
font-size: 15px;
font-weight: 500;
text-transform: uppercase;
border: none;
position: relative;
cursor: pointer;
vertical-align: top;
margin-bottom: 15px;
border-radius: 25px;
margin-top: 15px;
}
@media screen and (max-width: 700px) {
  .tipo-servicio {
      width: 100%;
  }
}
/*fin headhunting*/
/*pscolaborales*/
.contenedor_principal_Evaluaciones_Psicolaborales {

  background-color: #eff2f3;

}

.contenedor_secundario_Evaluaciones_Psicolaborales {
  margin: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  justify-content: center;

}



.elemento_Evaluaciones_Psicolaborales {
  width: 35%;
  height: auto;

  margin-right: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 382px) {

  .contenedor_secundario_Evaluaciones_Psicolaborales {
    flex-direction: column;
    justify-content: flex-start;

  }

  .elemento_Evaluaciones_Psicolaborales {
    width: 100%;
    height: auto;
   

  }

}

.elemento_texto_Evaluaciones_Psicolaborales {
  
  display: flex;
  flex-direction: column;
}


.elemento_Texto_secundario_Evaluaciones_Psicolaborales {

  margin-bottom: 30px;

}



.elemento_Texto_secundario_Evaluaciones_Psicolaborales h1 {
  color: rgb(12, 17, 70);
  font-weight: 600;
  
  padding-top: 10px;
  padding-bottom: 30px;

}

.elemento_Texto_secundario_Evaluaciones_Psicolaborales h2 {
  color: rgb(12, 17, 70);
  font-weight: 600;
  font-size: 20px;

}

.elemento_Texto_secundario_input_Evaluaciones_Psicolaborales {
  display: flex;
  flex-direction: column;
}

/* empiza el elmento2 */

.elemento_imagen_Evaluaciones_Psicolaborales {
  width: 100%;
  height: auto;
  


  display: flex;
  justify-content: center;
  align-items: center;

}

.controlador_elemento_imagen_Evaluaciones_Psicolaborales {
  
  text-align: center;
  width: 200%;

}

.elemento_imagen_secundaria_Evaluaciones_Psicolaborales img {
  width: 100%;

}
img.loss.d-block {
  left: 18px;
  width: 250%;
  height: 250%;
  margin-left: 4%;
}
.elemento_imagen_secundaria_Evaluaciones_Psicolaborales input {
  margin-top: 20px;
  background-color: #377b8c;

  border: 2px #377b8c solid;
  border-radius: 20px;
  padding: 5px 50px;
  color: #ffffff;

}
/* fin pscolaborales*/
/*FIN NUESTRO SERVICIOS VISTA INCIO*/

.bannersegundoinicio {
  position: relative;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../images/bannerinicio.jpeg);
}

/* Valores */
.titulo_valores_empresa {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 30px;
  margin-bottom: 70px;
  color: #080b33;
}

.titulo_valores_empresa span {
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

.titulo_valores_empresa span::after {
  background-color: #0c1146;
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: -25px 0%;
}

.imagen_valores_empresa {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}

.imagen_valores_empresa img {
  width: 265px;
}

.nuestros_valores_empresa {
  margin-left: 30px;
  width: 40%;
}

.row_general_valores {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #e1dfdf;
  overflow: hidden;
}

.row_general_valores h1 {
  font-size: 17px;
  margin-top: 7px;
}

.row_iconos_valores_empresa {
  padding-right: 0%;
  margin-bottom: 30px;
  margin-top: 40px;
}

.row_iconos_valores_empresa i {
  width: 55px;
  color: #a5b5bb;
  float: left;
  font-size: 30px;
}

.contenedor__iconos__valores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media (max-width: 794px) {
  .contenedor__iconos__valores {
    flex-direction: column;
  }

  .tittle__valores {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .nuestros_valores_empresa {
    margin-left: 0px;
    width: 100%;
  }

  .row_iconos_valores_empresa {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 400px) {
  .row_iconos_valores_empresa i {
    font-size: 20px;
    width: 40px;
  }
}


/* Fin Valores */

/*ESTILOS SERVICIOS*/
.personal-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  margin: 30px 0;
}
.container_personal {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}
@media (max-width: 900px) {
  .container_personal {
    width: 80%;
    display: flex;
  }
  .personal-form {
    margin: 0px 0;
  }
}

/* .personal-form .descripciones{
   width: 100%;
 } */
/*  */

.personal-form .descripciones div {
  margin: 24px 0;
}

.personal-form .container_personal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .personal-form .container_personal {
    flex-direction: column;
  }
}
.ji {
  font-weight: bold;
  background: #377b8c;
  color: white !important;
  border-radius: 5;
}
.happ {
  font-weight: bold;
}
.ja {
  background-color: #013f62;
  color: white !important;
  font-weight: 600;
  transition: all 400ms;
  border-radius: 3rem;
  font-size: 14px;
}

.container_servicios {
  width: 100%;
  margin: 0px 0px;
}

.row_nuestros_servicios {
  margin-bottom: 100px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin-left: 0px;

  background-color: #126c8e;
}

.letras_nuestro_servicio {
  margin-left: 0px;

  padding-bottom: 20px;
  padding-top: 20px;
}

.letras {
  display: flex;
  justify-content: left;
  align-items: center;
}

.letras h1 {
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  position: relative;
  padding-bottom: 10px;
  width: 80%;
}

.letras h1::after {
  background-color: #0c1146;
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin-bottom: 0;
}

.img_nuestro_servicio {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.col_logo_nuestros_servicios {
  border-color: 2px red solid;
}

.col_logo_nuestros_servicios i {
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 20px;
}

.col_logo_nuestros_servicios h1 {
  color: #ffffff;
  font-size: 20px;
}

@media (max-width: 1159px) {
  .letras h1 {
    font-weight: 600;
    font-size: 30px !important;
  }
}

@media (max-width: 763px) {
  .row_nuestros_servicios {
    flex-direction: column;
  }

  .letras h1 {
    font-weight: 600;
    font-size: 30px !important;
    text-align: center;
  }
}

@media (max-width: 330px) {
  .img_nuestro_servicio {
    font-size: 55px;
    text-align: center;
    margin-left: 0px;
  }

  .letras h1 {
    font-weight: 600;
    font-size: 20px !important;
    text-align: center;
  }
}

/*  FIN ESTILOS SERVICIOS*/

/* ESTILOS PROcESOS VIGENTES */
.contenedor__procesos {
  background-color: #f8f9fa;
  padding: 40px;
  text-transform: uppercase;
}
.titulo__procesos {
  color: rgb(12, 17, 70);
  font-size: 35px;
  font-weight: 750;
  padding: 10px;
}

.tabla__procesos {
  background-color: #ffffff;
  width: 70%;
  text-align: center;
  box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, 0.7);
}
.titulo__contenedor {
  background-color: #2c7da0;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
.titulo__tabla,
.texto__fila {
  border: solid 1px #ced4da;
  padding: 25px;
}
.texto__fila a {
  text-decoration: none;
  color: black;
}
.fila__tabla:nth-child(even) {
  background-color: #edf6f9;
}
  /* SEccion responsive */
@media (max-width: 600px) {
  .titulo__procesos{
    font-size: 25px;
  }
  .tabla__procesos , .titulo__tabla {
    font-size: 12px;
  }
  .titulo__tabla,
  .texto__fila {
    padding: 13px;
  }
  .tabla__procesos{
    width: 100%;
  }
}
@media (max-width: 400px) {
  .titulo__procesos{
    font-size: 13px;
    padding: 0px;
  }
  .tabla__procesos , .titulo__tabla {
    font-size: 8px;
  }
  .titulo__tabla,
  .texto__fila {
    padding: 5px;
  }
  .contenedor__procesos {
    padding: 13px;
  }
}
  /* fin seccion responsive */
/* FIN ESTILOS PROCESOS VIGENTES */
/*CONTACTOS INICIO*/
.contacto_principal {

  background-image: url("assets/images/imagen_contacto.jpg");
  background-position: center center;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  background-attachment: fixed;


}

.contact-form_principal {
  align-items: center;
border-color: #000 2px solid;
  margin: 0% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;

}

.row_container__contacto {
margin-top: 6%;
margin-bottom: 10%;
  width: 100%;

}

@media (max-width: 850px) {
  .row_container__contacto {
    flex-direction: column;
  }

  .texto_direcion_contacto p {
    font-size: 4vw;

  }
}
@media (max-width: 389px) {
  .texto_datos_contacto p {
 font-size: 4vw;
}
}



.firts-container_contacto {
 
  background-color: #fdfcfc;
  height: 100%;
  padding: 1% 2%;


}


.texto_contactenos_contacto {
  margin-top: 20%;
  color: #377b8c;


}

.texto_contactenos_contacto h1 {

  font-weight: 600;
}

.texto_direcion_contacto {
 
  margin-top: 10%;
  line-height: 90%;
  color: #646363;

}
.texto_direcion_contacto p{
font-size: 120%;

}




.texto_datos_contacto {

  margin-top: 10%;
  line-height: 34%;
  color: #646363;
}



.texto_datos_contacto button {
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 50%;
  background: transparent;
  margin-right: 3px;
  display: inline;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: solid 3px #377b8c;
  color: #377b8c;
}

.info-container_contacto h3 {

  color: #377b8c;
  font-size: 100%;
}

.info-container_contacto {

  padding-bottom: 10%;
}

.formulario_mapa_contactos iframe {
  margin-top: 5%;
 
  width: 100%;
  height: 300px;

}


/* dinal del col1 */
.second-container_contacto {

  background-color: #343436;
  padding: 0% 4%;
  opacity: 0.9;

}

.secudnario_ppp {
  text-align: center;
  color: #fff;
  margin-top: 5%;

}

.secudnario_ppp h1 {


  font-size: 160%;
  font-weight: 600;

}

.secudnario_ppp h2 {

  margin: 5% 0%;
  font-size: 160%;
  font-weight: 600;
}

.secudnario_ppp hr {
  color: #fdac2d;
  width: 30%;
  height: 3px;
  padding: 1px;
  opacity: 1;

  margin: 0% 50%;
  transform: translate(-50%);
}

.secudnario_ppp h3 {

  margin: 0% 0%;
  font-size: 130%;


}

.form-group_texto {

  min-height: 10px;

  padding: 1% 0%;
  width: 100%;
  font-size: 150%;


}

.form-group_texto input {


  width: 100%;

}

.form-group_texto textarea {


  width: 100%;
  height: 100%;

}

.control_texto_datos {
  margin: 5% 0%;
}

.checkbox_politicas_contacto {

  margin: 5% 0%;
  text-align: center;
  color: #fff;

}

.submit_politicas_contacto {


  text-align: center;
}

.submit_politicas_contacto input {
  background-color: #0d4a61;
  color: #fff;
  width: 70%;
  padding: 3% 0%;
  border-radius: 10px;
  border: none;
}




.probando_stilo{

  background-color: red;
}
/*FIN INICIO*/